<!DOCTYPE html>
<html>

<head>
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="static/css/skeleton.css">
</head>

<body>
<div class = "container">
  <h1>About Us</h1>
  


		<h3>Team Members:</h3>
	<ul>
		<li>Michael Perel</li>
			<ul>
				<li>team leader</li>
				<li>email: mperel@princeton.edu</li>
			</ul>
		<li>Paul Dornier</li>
			<ul>
				<li>email: pdornier@princeton.edu</li>
			</ul>
		<li>Max Greenwald</li>
			<ul>
				<li>email: maxpg@princeton.edu</li>
			</ul>
		<li>Zachary Knowles</li>
			<ul>
				<li>email: zknowles@princeton.edu</li>
			</ul>
	</ul>
	<h3>Elevator Pitch:</h3>
	<p>Swap is mobile iPhone application that makes it easier than ever to connect with the
people around you. With a single tap a user will be able to connect to another user
on multiple social media and sharing platforms. One of the most tedious processes
of beginning a relationship with another person is the onboarding process of getting
their contact information. No more having to type in the digits of a new friends
phone number or search for them on Facebook and LinkedIn. With Swap, a single tap
allows you to request to connect with a nearby friend. Once they have accepted your
request, Swap seamlessly connects you on all of the social networks that you care
cohesive platform for engaging with the people around you.</p>
	<h3>Link to Design Document:</h3>
	<a href="https://drive.google.com/file/d/0B0NjQdX1kw4sanpBMVgwZ083Zzg/view?usp=sharing">Design Doc!</a>
	<h3>Link to Project Timeline Document</h3>
	<a href="https://drive.google.com/file/d/0B0NjQdX1kw4seXY2WG5TdE00QnM/view?usp=sharing">Timeline!</a>


		<marquee behavior="slide" direction="left">SWAP is tight!</marquee>
<footer id="foot01"></footer>

</div>
</body>

<script src="script.js"></script>
</html>