<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="one touch contact exchange" content="">
  <meta name="COS 333" content="">

  <title>MaxGreenwald</title>

  <link rel="shortcut icon" href="static/img/swapLogo.ico">

  <!-- Bootstrap Core CSS -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->

<!--   <link href="static/css/grayscale.css" rel="stylesheet"> -->
  <link href="static/css/skeleton.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

         <!-- jQuery -->
                <script src="static/js/jquery.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="static/js/bootstrap.min.js"></script>

                <!-- Plugin JavaScript -->
                <script src="static/js/jquery.easing.min.js"></script>

      </head>

      <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation" >
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
              </button>
              <div class = "navbar-brand">
              <img class = "img" style= "max-width:26px; margin-top: -7px" src="/static/img/swapLogo.png">
              </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                  <a href="#page-top"></a>
                </li>

                <li>
                  <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                  <a class="page-scroll" href="#contact">Contact</a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>


                <!-- Contact Section -->
                 <header class="intro">
                    <div class="intro-body">
                <div class="container content-section text-center">
                  <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">

                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>


                      <h2>Max Greenwald</h2>
                      <p>Computer Science and Public Policy Major <br>Princeton University Class of 2017</p>
                      <p></p>
                      <ul class="list-inline banner-social-buttons">
                        <li>
                          <a href="https://github.com/MaxGreenwald/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                          <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=maxpg@princeton.edu" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-envelope-o fa-fw"></i> <span class="network-name">Email</span></a>
                        </li>
                          <li>
                          <a href="https://www.linkedin.com/pub/max-greenwald/8a/b64/894" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin-square fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                        </li>
                        <br>
                        <li>
                          <a href="/static/pdf/greenwaldResume6-1-15.pdf" download="MaxGreenwaldResume" class="btn btn-default btn-lg"><i class="fa fa-file-text-o fa-fw"></i> <span class="network-name">Download Resume</span></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                 </div>
               </header>

<!-- About Section -->
          <section id="about" class="container content-section text-left">
            <div class="columns">
              <div class="col-lg-6 col-md-4">
                <h4 align = "left"> Fun Side Projects </h4>
                <br>

                <p>Swap makes it easier to connect with the people around you on the social networks you care about.</p>
                    </div>

                  

                  <div align = "right" class="col-lg-6 col-md-4">
                <h4 > Web Projects </h4>
                <br>

                <a href="//swap.herokuapp.com" target="_blank"> Swap: connect with one tap</span></a>
                <a href="//ftc-cases.herokuapp.com" target="_blank"> Verifitas: FTC Data Security Cases</span></a>
                <a href="//who-u-talk-like.herokuapp.com" target="_blank"> WhoUTalkLike: Dwight Shrute, Elmo or Sarah Palin?</span></a>
                <a href="//i-look-like.herokuapp.com" target="_blank">ilooklike: Find out your celeb twin</span></a>
                    </div>

                   
                  </div>
               
                </section>

                <!-- Footer -->
                <footer>
                  <div class="container text-center">
                    <p>Copyright &copy; Max Greenwald 2015</p>
                  </div>

                </footer>

                <!-- jQuery -->
                <script src="static/js/jquery.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="static/js/bootstrap.min.js"></script>

                <!-- Plugin JavaScript -->
                <script src="static/js/jquery.easing.min.js"></script>

               
                <!-- Custom Theme JavaScript -->
                <script src="static/js/grayscale.js"></script>

              </body>

              </html>
